@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MoboBold";
  src: url("./fonts/MOBO-Font/MOBO-Bold.otf") format("opentype")
}

@font-face {
  font-family: "MoboExtraLight";
  src: url("./fonts/MOBO-Font/MOBO-ExtraLight.otf") format("opentype")
}

@font-face{
  font-family: "MoboRegular";
  src: url("./fonts/MOBO-Font/MOBO-Regular.otf") format("opentype")
}

@font-face{
  font-family: "MoboSemiBold";
  src: url("./fonts/MOBO-Font/MOBO-SemiBold.otf") format("opentype")
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 241 66% 19%;
    --foreground: 57 78% 83%;
    --card: 241 66% 19%;
    --card-foreground: 57 78% 83%;
    --popover: 241 66% 19%;
    --popover-foreground: 57 78% 83%;
    --primary: 57 78% 83%;
    --primary-foreground: 241 66% 19%;
    --secondary: 180 25% 28%;
    --secondary-foreground: 57 78% 83%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 57,50%,83%;
    --accent: 241 66% 19% 83;
    --accent-foreground: 57 78% 83%;
    --destructive: 1 83% 42%;
    --destructive-foreground: 57 78% 83%;
    --border: 57 78% 83%;
    --input: 57 78% 83%;
    --ring: 57 78% 83%;
    --chart-1: 241 66% 19%;
    --chart-2: 57 78% 83%;
    --chart-3: 180 25% 28%;
    --chart-4: 12 98% 53%;
    --chart-5: 27 87% 67%;
    --radius: 1rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
